In [180]:
import requests
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd

In [181]:
url="https://invoice.etax.nat.gov.tw/"
headers={"user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,like Gecko) Chrome/64.0.3282.186 Safari/537.36 "}
re=requests.get(url,headers=headers)
re.encoding="utf-8"
sp=BeautifulSoup(re.text,'lxml')

In [182]:
res=sp.find("div",class_="container-fluid etw-bgbox mb-4")
num=res.find_all("tr",limit=10)

In [191]:
period=sp.find("div",class_="carousel-item active").text
period

'111年01-02月中獎號碼單'

In [184]:
toplist=[]
for nums in num[1:3]:
    title=nums.find("td").text
    number=nums.find("span").text
    price=nums.find("p",class_="mb-0").text
    list1=[title,number,price]  
    toplist.append(list1)
toplist

[['特別獎', '18927486', '同期統一發票收執聯8位數號碼與特別獎號碼相同者獎金1,000萬元'],
 ['特獎', '82050976', '同期統一發票收執聯8位數號碼與特獎號碼相同者獎金200萬元']]

In [185]:
l=[]
for nums in num[3:9]:
        title=nums.find("td").text
        number=nums.find_all("p",class_="etw-tbiggest mb-md-4")
        for numlist in number:
            l.append(numlist.text)
        price=nums.find("p",class_="mb-0").text
        list2=[title,l,price]  
        toplist.append(list2)
toplist

[['特別獎', '18927486', '同期統一發票收執聯8位數號碼與特別獎號碼相同者獎金1,000萬元'],
 ['特獎', '82050976', '同期統一發票收執聯8位數號碼與特獎號碼相同者獎金200萬元'],
 ['頭獎',
  ['\n46596321', '\n75704516', '\n48632657'],
  '同期統一發票收執聯8位數號碼與頭獎號碼相同者獎金20萬元'],
 ['二獎',
  ['\n46596321', '\n75704516', '\n48632657'],
  '同期統一發票收執聯末7 位數號碼與頭獎中獎號碼末7 位相同者各得獎金4萬元'],
 ['三獎',
  ['\n46596321', '\n75704516', '\n48632657'],
  '同期統一發票收執聯末6 位數號碼與頭獎中獎號碼末6 位相同者各得獎金1萬元'],
 ['四獎',
  ['\n46596321', '\n75704516', '\n48632657'],
  '同期統一發票收執聯末5 位數號碼與頭獎中獎號碼末5 位相同者各得獎金4千元'],
 ['五獎',
  ['\n46596321', '\n75704516', '\n48632657'],
  '同期統一發票收執聯末4 位數號碼與頭獎中獎號碼末4 位相同者各得獎金1千元'],
 ['六獎',
  ['\n46596321', '\n75704516', '\n48632657'],
  '同期統一發票收執聯末3 位數號碼與 頭獎中獎號碼末3 位相同者各得獎金2百元']]

In [192]:
df = pd.DataFrame(toplist, columns = ['Type',"Number","Award Money"])

df

,Type,Number,Award Money
0,特別獎,18927486,"同期統一發票收執聯8位數號碼與特別獎號碼相同者獎金1,000萬元"
1,特獎,82050976,同期統一發票收執聯8位數號碼與特獎號碼相同者獎金200萬元
2,頭獎,"[\n46596321, \n75704516, \n48632657]",同期統一發票收執聯8位數號碼與頭獎號碼相同者獎金20萬元
3,二獎,"[\n46596321, \n75704516, \n48632657]",同期統一發票收執聯末7 位數號碼與頭獎中獎號碼末7 位相同者各得獎金4萬元
4,三獎,"[\n46596321, \n75704516, \n48632657]",同期統一發票收執聯末6 位數號碼與頭獎中獎號碼末6 位相同者各得獎金1萬元
5,四獎,"[\n46596321, \n75704516, \n48632657]",同期統一發票收執聯末5 位數號碼與頭獎中獎號碼末5 位相同者各得獎金4千元
6,五獎,"[\n46596321, \n75704516, \n48632657]",同期統一發票收執聯末4 位數號碼與頭獎中獎號碼末4 位相同者各得獎金1千元
7,六獎,"[\n46596321, \n75704516, \n48632657]",同期統一發票收執聯末3 位數號碼與 頭獎中獎號碼末3 位相同者各得獎金2百元

# 資料清洗

In [188]:
df.iloc[2,1]="46596321,75704516,48632657"
df.iloc[3:8,1]=""

df

  Type                      Number                             Award Money
0  特別獎                    18927486        同期統一發票收執聯8位數號碼與特別獎號碼相同者獎金1,000萬元
1   特獎                    82050976           同期統一發票收執聯8位數號碼與特獎號碼相同者獎金200萬元
2   頭獎  46596321,75704516,48632657            同期統一發票收執聯8位數號碼與頭獎號碼相同者獎金20萬元
3   二獎                               同期統一發票收執聯末7 位數號碼與頭獎中獎號碼末7 位相同者各得獎金4萬元
4   三獎                               同期統一發票收執聯末6 位數號碼與頭獎中獎號碼末6 位相同者各得獎金1萬元
5   四獎                               同期統一發票收執聯末5 位數號碼與頭獎中獎號碼末5 位相同者各得獎金4千元
6   五獎                               同期統一發票收執聯末4 位數號碼與頭獎中獎號碼末4 位相同者各得獎金1千元
7   六獎                              同期統一發票收執聯末3 位數號碼與 頭獎中獎號碼末3 位相同者各得獎金2百元